* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  header {
    background-color: darkolivegreen;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    color: bisque;
  }

  .topnav{
    padding: 5px;
    background-color: burlywood;
    color: forestgreen;
    text-align: center;

  }
  
  nav {
    float: left;
    width: 30%;
    height: 400px;
    background-color: wheat;
    padding: 20px;
  }
  
  nav ul {
    list-style-type: circle;
    padding: 10%;
  }

  a:link{
    color: saddlebrown;
  }

  a:hover{
    color: red;
  }
  
  article {
    float: left;
    padding: 20px;
    width: 70%;
    background-color: blanchedalmond;
    color: saddlebrown;
    height: 400px;
  }
  
  section::after {
    content: "";
    display: table;
    clear: both;
  }
  
  footer {
    background-color: darkolivegreen;
    padding: 10px;
    text-align: center;
    color: bisque;
  }
  
  img{
    max-width: 100%;
    height: auto;
  }


  @media (max-width: 600px) {
    nav, article {
      width: 100%;
      height: auto;
    }
  }